.gameboard {
    background-color: lightgray;
    margin: 0 25%;
}
.playboard {
    width: 100%;
}
.loading-line {
    position: relative;
    height: 15px;
    z-index: 1;
    width: 100%;
    background-color: darkgray;
}
.red-line {
    position: absolute;
    background-color: red;
    height: 15px;
    z-index: 3;
}
.grey-line {
    position: absolute;
    background-color: gray;
    height: 15px;
    z-index: 2;
}
#data-logs {
    position: fixed;
    top: 0;
    left: 0;
}
